{{ define "goscope-views/Logs.gohtml" }}
    {{ template "goscope-components/Head.gohtml" . }}
    {{ template "goscope-components/Header.gohtml" . }}

    {{ template "goscope-components/LogList.gohtml" . }}

    {{ template "goscope-components/PageEnd.gohtml" }}
{{ end }}
